[user]
    name = "Khang"
    email = "41323253+KhangWoei@users.noreply.github.com"

[core]
    editor = nvim

[alias]
    cleanb = "!f() { git branch --merged ${1-origin/main} | grep -v " ${1-main}$" | xargs -r git branch -d; }; f"

    amend = commit --amend
    amendf = commit --amend --no-edit

    configurations = config --list --show-origin

    main = switch main
    new = "!f(){ git switch -c $1; }; f"
    visit = "!f(){ git switch --detach $1; }; f"

    standup = log --pretty=format:'%C(yellow)%h%Creset -%Creset %s %Cgreen(%cD) %C(bold blue)<%an>%Creset' --since yesterday
    pretty = log --graph --oneline --decorate --all
    graph = -c core.pager='less -SRF' log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''                    %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all

    findb = "!f(){ git branch --all --contains $1; }; f"
    findt = "!f(){ git tag --contains $1; }; f"

    pf = push --force-with-lease

    abort = rebase --abort
    continue = rebase --continue
    
    uncommit = reset --soft HEAD^
    restart = "!f(){ git reset --hard; git clean -f; }; f"
    reload = "!f(){ git reset --hard origin/$1; git clean -f; }; f"

    stat = status

    upstream = "!f() { git branch --set-upstream-to origin/${1}; }; f"

[pull]
    rebase = true

[rebase]
    autoStash = true
    updateRefs = true

[rerere]
    enabled = true
    autoupdate = true

[url "git@github.com:"]
	insteadOf = https://github.com/

